<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contact <%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Montserrat:400,700","Merriweather:300,400,700,900"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/sgj.png">
  <link rel="apple-touch-icon" href="images/webclip.png">
</head>
<body>
  <%- partial("../_shared/_mainNav") %>
  <div>
    <div class="w-container">
      <h1 class="hero-contact">Want to get in touch ? &nbsp;Yippee !!</h1>
      <h3>I'm available for project collab, <br>consulting gigs, nerdy talk,&nbsp;so get in touch.<br>The easiest way to contact me is by email&nbsp;</h3><img class="email" src="images/mail.png" width="245" alt="54af517a7cff80c063171224_mail.png">
      <ul class="w-list-unstyled navigation">
        <li class="list-element">
          <a class="w-inline-block link-block" href="http://www.facebook.com/sinue"><img src="images/facebook-12x12@2x.jpg" width="12" alt="54aa386ac22ec18858ea5180_facebook-12x12%402x.jpg">
          </a>
        </li>
        <li class="list-element">
          <a class="w-inline-block link-block" href="#"><img src="images/flickr-12x12@2x.jpg" width="12" alt="54aa39149157107b25022346_flickr-12x12%402x.jpg">
          </a>
        </li>
        <li class="list-element">
          <a class="w-inline-block link-block" href="http://www.github.com/sinux"><img src="images/github-13x12@2x.jpg" width="13" alt="54aa391f389d5589589d9f23_github-13x12%402x.jpg">
          </a>
        </li>
        <li class="list-element">
          <a class="w-inline-block link-block" href="http://www.twitter.com/sinue"><img src="images/twitter-12x12@2x.jpg" width="12" alt="54aa394968c7567a25dd01b7_twitter-12x12%402x.jpg">
          </a>
        </li>
        <li class="list-element">
          <a class="w-inline-block link-block" href="http://skype:sinue.garcia?call"><img src="images/skype-12x12@2x.jpg" width="12" alt="54aa3953389d5589589d9f24_skype-12x12%402x.jpg">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom">
    <footer>
      <div class="w-container">
        <div class="text-footer">Sinue García Some Reserved Rights 2015&nbsp;</div>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
