<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Work <%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Montserrat:400,700","Merriweather:300,400,700,900"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/sgj.png">
  <link rel="apple-touch-icon" href="images/webclip.png">
</head>
<body>
   <%- partial("../_shared/_mainNav") %>
  <div class="inner-map">
    <div class="w-container inner-hero">
      <div class="tmux-contain"><img class="tmux" src="images/tmux-634x182.png" width="475" alt="54accf697ddecc17275c57df_tmux-634x182.png">
      </div>
      <div class="w-clearfix section-logo"><img class="inner-badge" src="images/CodeBigBadge-41x45@2x.png" alt="54accdc2f5762d5d71261639_CodeBigBadge-41x45%402x.png">
        <h1 class="title-inner">My Work</h1>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="w-container">
      <ul class="w-list-unstyled sub-nav">
        <li class="sub-nav-item"><a class="button btn-subnav" href="#projects">&nbsp;Projects</a>
        </li>
        <li class="sub-nav-item"><a class="button btn-subnav" href="#ui">UI/UX GIGS</a>
        </li>
        <li class="sub-nav-item"><a class="button btn-subnav" href="#code">CODE</a>
        </li>
        <li class="sub-nav-item"><a class="button btn-subnav" href="#video">video</a>
        </li>
      </ul>
      <div class="w-row columns-two" id="projects">
        <div class="w-col w-col-4">
          <h3>Personal Projects</h3>
          <p class="project-side">I’m so lucky to be able to build my own ideas, here are some of them in form of projects waiting to become someday in sucessful companies</p>
        </div>
        <div class="w-col w-col-8 project-showcase">
          <div class="talk-element" data-ix="slidein">
            <h4>VAGALES</h4>
            <p class="overlay-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <div class="overlay-proyect"><img class="logo-vagales" src="images/logoProjects_10.png" width="223" alt="54b4c2ebaf20c3f6386690f9_logoProjects_10.png">
            </div>
          </div>
          <div class="talk-element" data-ix="slidein">
            <h4>VAGALES</h4>
            <p class="overlay-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <div class="overlay-proyect"><img class="logo-masada" src="images/logoProjects_03.png" width="104" alt="54b4c40e50d87cf623f7d4d3_logoProjects_03.png">
            </div>
          </div>
          <div class="talk-element" data-ix="slidein">
            <h4>VAGALES</h4>
            <p class="overlay-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <div class="overlay-proyect"><img class="logo-vagales" src="images/logoProjects_06.png" width="205" alt="54b4c3f550d87cf623f7d4cd_logoProjects_06.png">
            </div>
          </div>
          <div class="talk-element" data-ix="slidein">
            <h4>VAGALES</h4>
            <p class="overlay-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <div class="overlay-proyect"><img class="logo-yada" src="images/logoProjects_12.png" width="136" alt="54b4c4475608e3f4389dbe6f_logoProjects_12.png">
            </div>
          </div>
          <div class="talk-element" data-ix="slidein">
            <h4>VAGALES</h4>
            <p class="overlay-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <div class="overlay-proyect"><img class="logo-devel" src="images/logoProjects_17.png" width="120" alt="54b4c47b5608e3f4389dbe72_logoProjects_17.png">
            </div>
          </div>
        </div>
      </div>
      <div class="w-row columns-two" id="code">
        <div class="w-col w-col-4">
          <h3>Code</h3>
          <p class="project-side">Some pieces of software that i wrote and i feel proud, no by their complexity or technical execution but the learning and personal challenge involved. My languages of choice, Python , Javascript and R&nbsp;</p>
        </div>
        <div class="w-col w-col-8 project-showcase">
          <div class="talk-element" data-ix="slidein">
            <h4>EUCLIDES</h4>
            <div class="overlay-proyect"></div>
          </div>
        </div>
      </div>
      <div class="w-row columns-two" id="ui">
        <div class="w-col w-col-4">
          <h3>UX/UI</h3>
          <p class="project-side">I like simple and intuitives way to interact with pieces of software, here are some of my attemps of achieve this.</p>
        </div>
        <div class="w-col w-col-8 project-showcase">
          <div class="talk-element" data-ix="slidein">
            <h4>introduccion al nómada digital</h4>
            <div class="overlay-proyect"></div>
          </div>
        </div>
      </div>
      <div class="w-row columns-two" id="video">
        <div class="w-col w-col-4">
          <h3>Video</h3>
          <p class="project-side">Everybody has their creative side.&nbsp;</p>
        </div>
        <div class="w-col w-col-8 project-showcase">
          <div class="talk-element" data-ix="slidein">
            <h4>introduccion al nómada digital</h4>
            <div class="overlay-proyect"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="w-container">
      <div class="text-footer">Sinue García Some Reserved Rights 2015&nbsp;</div>
    </div>
  </footer>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
